<!DOCTYPE html>
<html>
    <head>
      <title>Jovian Careers</title>
      <style>
        h1 {
          font-size: 40px;
          font-family: Book Antiqua;
          font-weight: bold;
          color: rgb(22, 100, 150)
          text-align: center;
        }
      </style>
    </head>
    <body>
      <h1>Jovian Careers</h1>
      <img src="https://90c3cf50-201e-48b3-bc06-a3118ba91f8c-00-1zq01kycq7773.sisko.replit.dev/static/Career.jpeg" height="320">
      <h2>About Jovian Careers</h2>
      <p>At Jovian Careers, we bring promising professionals in touch with great career opportunities that suit their abilities and aspirations. Our site enables you to browse comprehensive job descriptions, know the requirements of a role, and apply effortlessly to jobs that suit your career aspirations. Whether you're a new graduate or a seasoned professional, Jovian Careers is your go-to partner in securing the proper job, creating your resume, and advancing your career. Apply now and get closer to your ideal position.</p>
      <h2>Open Positions</h2>
      <p>TODO - show the jobs here</p>
      <button>Contact Us</button>
    </body>
</html>